body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.memes-container {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-meme {
  flex-shrink: 1;
  flex-basis: 24%;
}
.single-meme img{
  width:300px;
  height:300px;
  margin:0;
}
